table, th, td {
   border: 1px solid black;
   text-align: center;
}
#tableindex td:hover{
	background: yellow;
}
#textbox-date{
	
}
.btn{
	float: left;
	background-color: blue;
	width: 10%;
    margin-right: 50px;
    text-align: center;
}
.notdayofmonth{
	background-color: #000000;
}
#showcdl .notdayofmonth:hover{
	background-color: #000000;
}
.today{
	background-color: red;
}